.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.status {
  margin-right: 12px;
}

.status.status--supported {
  color: #8bc164;
}

.status.status--unsupported {
  color: #fa4f4f;
}
