/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

bio-debug .debug-ui {
  z-index: 2;
  opacity: 0.95;
}

@keyframes opacityPulse {
  89% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  94% {
    opacity: 1;
  }
  97% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
    border: none;
  }
  100% {
    box-shadow: -1px 1px #3e3e3e, -2px 2px #3e3e3e;
    transform: translateX(2px) translateY(-2px);
    border: 1px solid #3e3e3e;
  }
}
